.login-form {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  height: 100vh;
}

.login-form .form-group {
  width: 230px;

  display: flex;
  flex-direction: column;
  gap: 8px;
}
