:root {
  --color-primary: #7159c1;
  --background: #111;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;

  background-color: #111;

  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

  color: white;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s;
  color: white;
}

a:hover {
  color: var(--color-primary);
}

button {
  cursor: pointer;
  border: none;
  background: none;
  color: white;
  transition: all 0.2s;
}

button:hover {
  color: var(--color-primary);
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
