nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 10vh;
  padding: 0 10%;
  background-color: #111;

  border-bottom: 1px solid #333;
}

nav ul {
  display: flex;
  gap: 28px;
}

nav .logo {
  width: 132px;
}

nav .profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

nav .profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

nav .profile .info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
nav .profile .info .btn-logout {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 4px 16px;

  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 6px;
  transition: all 0.3s;

  width: auto;
}

nav .profile .info .actions button {
  max-height: 22px;

  display: flex;
  align-items: center;
  justify-content: center;
}

nav .profile .info .btn-logout:hover {
  background-color: white;
  color: #111;
}

nav .profile .info .btn-logout:disabled {
  background-color: #333;
  color: #666;
  border: 1px solid #666;
}

nav .profile .info .actions {
  display: flex;
  gap: 10px;
}
