.btn {
  background-color: var(--color-primary);
  color: white;
  padding: 12px 32px;
  border-radius: 6px;
  text-align: center;
  font-size: 1rem; // 16px
  font-weight: 500;
  transition: all 0.3s;
}

.btn:hover:not(:disabled) {
  background-color: white;
  color: var(--color-primary);
}

.btn:disabled {
  background-color: #333;
  color: #666;

  cursor: not-allowed;
}

h1.logo {
  font-size: 1.5rem; // 40px
  color: var(--color-primary);
  text-transform: uppercase;
  letter-spacing: 2px;
}

input {
  background: var(--background);
  padding: 12px;
  border: 1px solid #3b3b3b;
  border-radius: 6px;
  color: #ccc;
  font-size: 1rem; // 16px
}
